:root {
    --priamry: #f0f0f6;
    --secondary: #ffffff;
    --paragraph-font: #767676;
    --black: #2B2B2B;
    --available: #7EB942;
    --yellow: #FFB400;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--priamry);
    color: var(--black);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    text-transform: capitalize;
}

.font-18px {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
}

.font-10px {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.9%;
    /* 10.09px */
}

.title {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    /* 22.248px */
}

.yellow {
    color: var(--yellow);
}

.background-yellow {
    background-color: var(--yellow);
}

.label-value--space-between {
    display: flex;
    justify-content: space-between;
}

.pattern {
    position: absolute;
    z-index: 10;
}

#container {
    display: flex;
    width: 1440px;
}

#side-bar {
    width: 305px;
    height: 1450px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#avatar {
    width: 225px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#circle-img {
    width: 150px;
    height: 150px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: var(--available);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -34px;
    left: 124px;
}

#avatar__info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}

#avatar__info .avatar__info__name {
    margin-bottom: 15px;
    text-align: center;
}

#avatar__info .avatar__info__job {
    margin-bottom: 15px;
    text-align: center;
    color: var(--paragraph-font);
}

#contact-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#contact-list li {
    margin: 0px 7px;
    width: 24px;
    height: 24px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-list li img {
    width: 100%;
}

.side-bar__line {
    width: 220px;
    height: 1.5px;
    background-color: var(--priamry);
    margin: 25px;
}

#personal-info {
    width: 225px;
}

#personal-info .personal-info__info {
    margin-bottom: 10px;
}

#personal-info .personal-info__info:last-child {
    margin-bottom: 0px;
}

#personal-info .personal-info__info__lable {
    background-color: var(--yellow);
    padding: 1px 5px;
}

#personal-info .personal-info__info:nth-child(3) .personal-info__info__value {
    color: var(--available);
}


#languages {
    width: 225px;
}

#languages .languages__title {
    margin-bottom: 15px;
}

#languages .languages__lang {
    margin-bottom: 5px;
}

#languages .languages__lang:last-child {
    margin-bottom: 0px;
}

#languages .languages__lang__text {
    color: var(--paragraph-font);
}

#skills {
    width: 225px;
}

#skills .skills__title {
    margin-bottom: 15px;
}

#skills .skills__skill {
    margin-bottom: 5px;
}

#skills .skills__skill:last-child {
    margin-bottom: 0px;
}

#skills .skills__skill__text {
    color: var(--paragraph-font);
}

#extra-skills {
    width: 225px;
}

#extra-skills .extra-skills__title {
    margin-bottom: 15px;
}

#extra-skills .extra-skills__skill {
    display: flex;
    margin-bottom: 5px;
}

#extra-skills .extra-skills__skill:last-child {
    margin-bottom: 0px;
}

#extra-skills .extra-skills__skill__bullet {
    margin-right: 15px;

}

#extra-skills .extra-skills__skill__content {
    color: var(--paragraph-font);
    margin-bottom: 0px;
}

#download-cv {
    width: 220px;
    height: 40px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#download-cv .download-cv__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-cv .download-cv__button__text {
    margin-right: 20px;
}

#download-cv .download-cv__button__icon {
    width: 14px;
    height: 16px;
}

#main-content {
    width: 970px;
    margin-left: 40px;
}

#main-content .main-content__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content .main-content__text__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;
    margin-bottom: 25px;
    text-align: center;
}

#main-content .main-content__text__paragraph {
    width: 438px;
    color: var(--paragraph-font);
    text-align: center;
    margin-bottom: 50px;
}

#banner {
    background-color: var(--secondary);
    display: flex;
    position: relative;
}

#banner .banner__text {
    width: 500px;
    height: 118px;
    margin-left: 60px;
    margin-top: 93px;
    margin-right: 27px;
}

#banner .banner__text__intro {
    font-size: 48px;
    font-style: normal;
    font-weight: 1;
    line-height: 123.6%;
    margin-bottom: 18px;
}

#banner .banner__text__paragraph {
    color: var(--paragraph-font);
    margin-bottom: 25px;
    font-size: 16px;
    width: 424px;
    height: 88px;
}

#banner .banner__text__button {
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    background-color: var(--Yellow, #FFB400);
    font-weight: bold;
}

#banner .banner__text__button__text {
    display: flex;
    align-items: center;
}

#banner .banner__text__button__icon {
    width: 16px;
    height: 16px;
}

#banner .banner__image {
    margin-top: 8px;
    margin-bottom: 0px;
}

#banner .banner__image img {
    height: 100%;
}

#my-services {
    margin-top: 138px;
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    text-align: center;
}

#services .services__service {
    width: 310px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
}

#services .services__service__icon {
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    margin-top: 28px;
}

#services .services__service__title {
    margin-top: 26px;
}

#services .services__service__text {
    color: var(--paragraph-font);
    margin-top: 15px;
}

#services .services__service__order {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Yellow, #FFB400);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

#services .services__service__order__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#price-plans {
    margin-top: 70px;
}

#price-plans .price-plans__plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

#price-plans .price-plans__plans__plan {
    width: 310px;
    height: 610px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#price-plans .price-plans__plans__plan__popular-label {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#price-plans .price-plans__plans__plan__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%;
    margin-top: 54px;
}

#price-plans .price-plans__plans__plan__price {
    display: flex;
    align-items: flex-end;
    gap: 7px;
    margin-top: 19px;
}

#price-plans .price-plans__plans__plan__price__number {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;
}

#price-plans .price-plans__plans__plan__price__time {
    margin-bottom: 3px;
}

#price-plans .price-plans__plans__plan__text {
    text-align: center;
    color: var(--paragraph-font);
    margin-top: 8px;
}

#price-plans .price-plans__plans__plan__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 21px;
    margin-left: 33px;
    gap: 10px;
}

#price-plans .price-plans__plans__plan__item {
    display: flex;
    gap: 15px;
    justify-content: start;
    position: relative;
}

#price-plans .price-plans__plans__plan__item__content--paragraph {
    color: var(--paragraph-font);
}

#price-plans .price-plans__plans__plan__order {
    width: 169px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recommendations {
    margin-top: 70px;
}

#recommendations .recommendations__comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
    width: 100%;
}

#recommendations .recommendations__comments__comment {
    background-color: var(--secondary);
}

#recommendations .recommendations__comments__comment .star__list {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 25px;
}

#recommendations .recommendations__comments__comment__title {
    margin-left: 25px;
    margin-top: 10px;
}

#recommendations .recommendations__comments__comment__text {
    color: var(--paragraph-font);
    margin-left: 25px;
    width: 262px;
    height: 95px;
    margin-top: 18px;
}

#recommendations .recommendations__comments__comment__human {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 13px;
}

#recommendations .recommendations__comments__comment__human__avatar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

#recommendations .recommendations__comments__comment__human__avatar img {
    width: 100%;
}

#recommendations .recommendations__comments__comment__human__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#recommendations .recommendations__three-dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.history {
    margin-top: 70px;
}

.history .education__detail {
    background-color: var(--secondary);
    width: 970px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history .education__detail__place:first-child {
    margin-top: 50px;
}

.history .education__detail__place:last-child {
    margin-bottom: 38px;
}

.history .education__detail__place {
    display: flex;
    gap: 150px;
    margin-bottom: 11px;
}

.history .education__detail__place__left {
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.history .education__detail__place__left__student {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-top: 25px;
}

.history .education__detail__place__left__student__date {
    background-color: var(--yellow);
    color: var(--secondary);
    padding: 4px;
}

.history .education__detail__place__right {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 29px;
}

.history .education__detail__line {
    background-color: var(--priamry);
    width: 900px;
    height: 1.5px;
    margin-bottom: 28px;
    align-self: center;
}

#portfolio {
    margin-top: 70px;
}

#portfolio .portfolio__options {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .portfolio__options__list {
    list-style: none;
    display: flex;
    gap: 37px;
}

#portfolio .portfolio__options__item--selected {
    color: var(--yellow);
}

#portfolio .portfolio__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

#portfolio .portfolio__products__product {
    width: 310px;
    height: 300px;
}

#portfolio .portfolio__products__product img {
    width: 100%;
}



