:root {
    --priamry: #f0f0f6;
    --secondary: #ffffff;
    --paragraph-font: #767676;
    --black: #2B2B2B;
    --available: #7EB942;
    --yellow: #FFB400;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    background-color: var(--priamry);
    color: var(--black);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    text-transform: capitalize;
}

.title {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    /* 22.248px */
}

.label-value--space-between {
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    width: 1440px;
}

#side-bar {
    width: 305px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#avatar {
    width: 225px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#circle-img {
    width: 150px;
    height: 150px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: var(--available);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -34px;
    left: 124px;
}

#avatar__info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}

#avatar__info .avatar__info__name {
    margin-bottom: 15px;
    text-align: center;
}

#avatar__info .avatar__info__job {
    margin-bottom: 15px;
    text-align: center;
    color: var(--paragraph-font);
}

#contact-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#contact-list li {
    margin: 0px 7px;
    width: 24px;
    height: 24px;
}

#contact-list li img {
    width: 100%;
}

.side-bar__line {
    width: 220px;
    height: 1.5px;
    background-color: var(--priamry);
    margin: 25px;
    border: none;
}

#personal-info {
    width: 225px;
}

#personal-info .personal-info__info {
    margin-bottom: 10px;
}

#personal-info .personal-info__info:last-child {
    margin-bottom: 0px;
}

#personal-info .personal-info__info .personal-info__info__lable {
    background-color: var(--yellow);
    padding: 1px 5px;
}

#personal-info .personal-info__info:nth-child(3) .personal-info__info__value {
    color: var(--available);
}


#languages {
    width: 225px;
}

#languages .languages__title {
    margin-bottom: 15px;
}

#languages .languages__lang { 
    margin-bottom: 5px;
}
#languages .languages__lang:last-child { 
    margin-bottom: 0px;
}

#languages .languages__lang .languages__lang__text {
    color: var(--paragraph-font); 
}

#skills {
    width: 225px;
}

#skills .skills__title {
    margin-bottom: 15px;
}

#skills .skills__skill {
    margin-bottom: 5px;
}
#skills .skills__skill:last-child {
    margin-bottom: 0px;
}

#skills .skills__skill .skills__skill__text {
    color: var(--paragraph-font);
}

#extra-skills {
    width: 225px;
}

#extra-skills .extra-skills__title {
    margin-bottom: 15px;
} 

#extra-skills .extra-skills__skill {
    display: flex;
    margin-bottom: 5px;
}
#extra-skills .extra-skills__skill:last-child {
    margin-bottom: 0px;
}

#extra-skills .extra-skills__skill .extra-skills__skill__bullet {
    margin-right: 15px;
   
} 

#extra-skills .extra-skills__skill .extra-skills__skill__content {
    color: var(--paragraph-font);
    margin-bottom: 0px;
}

#download-cv {
    width: 220px;
    height: 40px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#download-cv .download-cv__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-cv .download-cv__button .download-cv__button__text {
    margin-right: 20px;
}

#download-cv .download-cv__button .download-cv__button__icon {
    width: 14px;
    height: 16px;
}

#main-content {
    width: 470px;
    margin-left: 40px;
}

#banner {
    background-color: var(--secondary);
    
}





